body{
    background-color: #e7f5ff2e;
}

/* Login Page */
.content {
    text-align: center;
}
.title {
font-size: 84px;
}
.login-card{
    padding-top: 4rem;
}
/* Card */
.card{
    /* border: none; */
    border-radius: 0;
}
.card-profile-img {
    max-width: 6rem;
    margin-bottom: 1rem;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Button */
.btn-primary {
    color: #fff;
    background-color: #1c7ed6;
    border-color: #1c7ed6;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1c7ed6;
    border-color: #1c7ed6;
}
.btn-primary:hover {
    color: #fff;
    background-color: #1c7ed6;
    border-color: #1c7ed6;
}
.btn-link {
    font-weight: 400;
    color: #1c7ed6;
    background-color: transparent;
}
.btn-link:hover {
    color: #1c7ed6;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}
/* Inputs */
.form-control{
    display: block;
    width: 100%;
    padding: 0.81rem 0.7692rem;
    font-size: 1rem;
    line-height: 1;
    color: #878787;
    /* background-color: #FFFFFF; */
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 0px;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.select-department{
    padding: 0px !important;
    border-radius: 0px!important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #1c7ed6;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.1rem rgba(26, 117, 83, 0.25);
    box-shadow: 0 0 0 0.1rem rgba(26, 117, 83, 0.25);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .employee-card{
        
    }
    .employee-card .card-img-top-left{
         height: 50px;   
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}